<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Encuesta</title>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
      </style>
   </head>
   <body style="background-color:#eeeeee; margin:0; padding:0 0 20px 0;" bgcolor="#eeeeee">
      <!-- Preheader oculto -->
      <div style="display:none;font-size:0;line-height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;">
         templates
      </div>
      <!-- Wrapper -->
      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
         style="background-color:#eeeeee; font-family:Heebo, Helvetica, sans-serif;"
         bgcolor="#eeeeee">
         <tr>
            <td>
               <!-- Contenedor principal -->
               <table width="650" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                     <td style="
                        padding:40px;
                        font-family:'Heebo', sans-serif;
                        font-size:14px;
                        color:#000000;
                        line-height:24px;
                        text-align:center;
                        background-image:url(https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Laura/survey-background-1.jpg);
                        background-size:cover;
                        background-position:center top;
                        background-repeat:no-repeat;
                        border-radius:30px;
                        font-weight:300;
                        ">
                        <!-- Imagen superior -->
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                           <tr>
                              <td>
                                 <img src="https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Laura/encuesta-1.jpg"
                                    alt="Tech-hub"
                                    width="600"
                                    style="display:block; border-radius:30px 30px 0 0;" />
                              </td>
                           </tr>
                        </table>
                        <!-- Contenido -->
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                           <tr>
                              <td style="
                                 background-color:#FFFFFF;
                                 border-radius:0 0 30px 30px;
                                 padding:15px 30px 30px 30px;
                                 ">
                                 <h1 style="margin:10px;">🚀 Tech-Talks Febrero 🚀</h1>
                                 <h3 style="margin:2px;">Queremos conocer tu opinión</h3>
                                 <p>
                                    Gracias por sumarte a esta iniciativa. Esperamos que cada una de las Tech Talks que se están promoviendo en el estudio de QE sean de tu agrado. 
                                 </p>
                                 <p>
                                    Buscando la mejora continua en cada una de las iniciativas nos gustaría conocer tu opinión.
                                 </p>
                                 <p>
                                    ¿Te animas a compartir tus comentarios y sugerencias?
                                 </p>
                                 <div>
                                    <a href="" target="_blank"
                                       style="
                                       color:#FFFFFF;
                                       text-decoration:none;
                                       display:inline-block;
                                       width:35%;
                                       background-color:#8937da;
                                       border-radius:15px;
                                       font-family:'Montserrat', Helvetica, sans-serif;
                                       font-size:15px;
                                       font-weight:bold;
                                       line-height:40px;
                                       text-align:center;
                                       ">
                                    ENCUESTA
                                    </a>
                                 </div>
                                 <p style="
                                    text-align:center;
                                    font-style:italic;
                                    font-size:12px;
                                    font-weight:bold;
                                    ">
                                    Recuerda que tus respuestas y comentarios son totalmente anónimos.
                                 </p>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
               <!-- Footer -->
               <table width="600" align="center" cellpadding="0" cellspacing="0" border="0"
                  style="font-family:Heebo, Helvetica, sans-serif;">
                  <tr>
                     <td style="text-align:center; padding-top:20px;">
                        <p style="
                           font-family:'Heebo', sans-serif;
                           color:#818181;
                           font-size:11px;
                           text-align:center;
                           ">
                           (c) 2026 Globant. All rights reserved<br>
                           This is a corporate communication from Globant.<br>
                           If you are not sure about receiving our emails,
                           <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345"
                              target="_blank"
                              style="color:#818181; text-decoration:underline;">
                           unsubscribe
                           </a>
                           here from all our internal communications.
                        </p>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>