
					

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<title>QE - Pildoras </title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700;800&display=swap');
		</style>
		<link rel="shortcut icon" type="image/png"
        href="https://communications.globant.com/Comm/favicon/images/favicon.png">

		
	</head>

	<body bgcolor="#f5f6f7" style="margin:0;padding:0; background-color: #f5f6f7">


		<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="font-family:Heebo, Helvetica, sans-serif;" width="100%">
			<tbody>
				<tr>
					<td bgcolor="#f5f6f7" style="background-color:#f5f6f7;background-repeat: no-repeat; background-size: cover;  ">
				
						<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
				
							<tbody>
								<tr>
									<td align="center" height="20" style="font-family:Heebo,Helvetica,sans-serif;font-size:10px" class=""></td>
								</tr>
							</tbody>
						</table> 

						<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
							<tbody>
								<tr>
									<td style="font-family:'Heebo',Helvetica,sans-serif;background-color:#0d0811;color: #ffffff;background-size: cover; background-image: url('https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/2026/Tatiana/Pildoras_Background.png');  background-repeat: repeat;padding: 35px;font-size: 15px;border-radius: 30px;   line-height: 25px; text-align: center; font-weight: 300 " width="600" class="">
										<center><img alt="" src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/2026/Tatiana/Pildoras_header.png" style="display: block; border-top-left-radius: 20px; border-top-right-radius: 20px" width="100%"></center>
									
										<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif;" width="100%">
											<tbody>
												<tr>
													<td pardot-data="" style="padding: 30px; background: #ffffff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; text-align: justify; line-height: 25px; font-weight: 300; font-size: 15px; color: rgb(6, 6, 6); background-size: cover" style="display: block;border-radius: 20px" width="100%"class="">
                                                    
														<h3><center>GLOBANT CODA</center></strong></h3><strong>
														<h3>¿Qué es CODA?</h3>

														<p>Es la primera <strong>suite de agentes de clase empresarial</strong> para el desarrollo de software. Combina la creatividad humana con IA para transformar la creación de soluciones digitales.</p>
														<h3>¿Qué impacto genera?</h3>
    													<ul>
      													<li><strong>Velocidad:</strong> Entregas más rápidas.</li>
      													<li><strong>Eficiencia:</strong> Soluciones optimizadas.</li>
      													<li><strong>Innovación:</strong> Resultados audaces para mantener la competitividad.</li>
    													</ul>
														<h3>El Ciclo de Vida Potenciado</h3>
    													<p>Acelera la ejecución de agentes en todas las etapas del software:</p>
      													<span>Definición</span> → <span>Construcción</span> → <span>Pruebas</span> → <span>Evolución</span>
														<h3>¿Qué hay detrás?</h3>
    													<p><strong>Globant Enterprise AI (GEAI):</strong> La plataforma que permite adoptar IA generativa de forma segura y crear procesos agénticos sin programar.</p>
    													<p><strong>The Station:</strong> El nuevo módulo de GEAI y centro neurálgico para descubrir y ejecutar los agentes de CODA.</p>
														<div class="cta-container">
  														<a href="https://station.corp.geai.globant.com/solutions" target="_blank" class="cta-button">
    													Conoce "The station" aquí.
  														</a>
														</div>
														<h3>¿Cúal es la oferta de CODA?</h3>
														<br><center>
														<img alt="oferta" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Paola/CODAOffering.jpg" width="500" ; display:inline-block;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          				</center>
                                          				<br>
                                                    	<p><strong>En resumen:</strong> CODA es la marca registrada para la venta de IA de GLOBANT que contiene todos los flujos agénticos.</p>
                                                    
														
												
													<p>Ahora ve a Globant University y anímate a conocer CODA</p>
                                                        <!-- CTA-->
														<table border="0" align="center" cellpadding="0" cellspacing="20">
															<tbody>
																<tr>
																	<td align="center" width="200" height="50" bgcolor="#000000"
																	style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Montserrat, Helvetica, sans-serif; color: #FFFFFF;background-color: #428fcd; margin:30px">
																		<a href="https://university.globant.com/group/10185" target="_blank"
																		style="font-family: Montserrat;font-size:18px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:50px; width:100%; display:inline-block">
																		<span style="color: #FFFFFF;line-height: 40px;">Meet CODA</span></a>
																	</td>
																				
																</tr>
															</tbody>
														</table>
														
														<center>No pares de aprender!</center> 
														
													</td>
											    </tr>
										    </tbody>
									    </table>
									
									</td>
								</tr>
							</tbody>
						</table>
						
						<!-- FOOTER - DO NOT MODIFY 2025-->

						<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
							<tbody>
								<tr>
									<td align="center" style="padding: 30px; line-height: 20px; color: #000000 " valign="top" class="">
											

										<span style="color:#000000;font-family:Heebo, Helvetica, sans-serif;font-size: 11px;">(c) 2026 Globant. All rights reserved<br>
										This is a corporate communication from Globant.<br>
										If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribeConfirm/497451/256fbc2b4b26ce1a4f40202157f6dddc1561636476c1d0b21709847fdcbaba30/1431971629" style="color:#8568bd;">unsubscribe here</a> from all our internal communications. </span></td>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
			
	</tbody>








