<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>TechTalk</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body
  style="background-color:#F7F0DD; padding: 0; margin: 0"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden"></div>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#ffffff; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<br>
						<td bgcolor="#ffffff" style="padding:50px;font-family: 'Heebo', sans-serif;  font-size: 14px;color: #000000; line-height:24px; text-align:center;  background-color: #ffffff;  border-radius: 10px ; font-weight: 300; background-image: url(https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/CareerDevelopmentNewContactBackGround.png); background-repeat: no-repeat; background-size: cover; ">
						<center>
							<img alt="values" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/CareerDevelopmentNewContactHeader.png" style="display: block; width:550px; border-radius:30px" ></center>
							<br>



						<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							<tbody>
								<tr>
									<td style="background-color: #D4CAAE; padding: 10px; width:550%; border-radius:30px" class="">
										<br>
									<table align="center" border="0" cellpadding="0" cellspacing="0"
														width="450"
														style="letter-spacing:normal;color:rgb(0,0,0);font-size:15px;">
														<tbody>
															<tr>
																<td bgcolor="#f5f6f7" 
																	style="letter-spacing:0px;line-height:23px;background-color:rgb(246,237,219);border-radius:20px;padding:10px">
																	
																	<span
																	style="color: #000000; font-weight: 350; text-align:center">
																<h2><br><strong>¡Te estamos buscando para el equipo de Comunicaciones de QA! 🕵️‍♀️🕵️‍♂️</strong></H2>
																<!--br><H2>Sé que estás ahí...</H2-->
																	<span
																		style="color: #000000; font-size: 16px; text-align: justify">
																		
																		<br style="text-align: justify;">¿Te gusta conectar con el equipo y compartir buenas ideas? ¡Entonces esto es para ti! <br><br>No necesitas ser un crack en diseño gráfico ni en programación; lo que realmente buscamos son QAs con ganas de sumar, compartir información útil y hacer crecer nuestra cultura interna. 🌱
																		<br><br>
																		Es un espacio súper amigable donde tu voz cuenta y toda idea es bienvenida.
																		<br><br>
																		👉 Si te animas a aportar tu granito de arena, escríbenos a <a href="slack://user?team=E02KLGDBF9B&id=UCKL8AVGW">Natalia Herrera</a> ó <a href="slack://user?team=E02KLGDBF9B&id=UHQ6YARJQ">Mauricio Chávez</a>. ¡Nos encantaría tenerte a bordo! 🚀
																		<br>
																		<!--center><img alt="speaker1" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/Techtalks_2026_invite_speaker.png" style="display: block;   border-radius: 50% " width="250"></center-->
																		<br>
																		No te preocupes por el "cómo", nosotros te apoyaremos con eso. ¡Lo más importante son tus ganas de aportarle a nuestra comunidad de QA!
																	    <strong><br><br>¡ESCRÍBENOS!</strong>			<br>													
																</span>	
																<br>
																	
																</td>
															</tr>
														</tbody>
													
													</table>
									
									<br>
				
									<!--table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center"
												bgcolor="#3A2064" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #3A2064; " width="150" class=""><a href="https://docs.google.com/forms/d/e/1FAIpQLSeyQtVyG8dGiuy8Ng1XhmP2WkRRb8e0xWAzZ1qmBqABif5Hpg/viewform" style="text-align:center;font-family: Heebo;font-size:15px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #ffffff;line-height: 30px; text-align: center">¡Inscríbete!</span></a>
													<tbody>
													</tbody>		
												</td>
											</tr>
										</tbody>
						            </table-->
									<br>
									</td>
								</tr>
							</tbody>
			            </table>
						</td>
					</tr>
				</tbody>
			</table>
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<td align="center" style="padding: 30px; line-height: 20px; color: #000000 " valign="top" class="">
						<center><img alt="culture evoution" src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/public-images/headers/moni_bernal/logo_gb_00.png" style="display: block;" width="150"></center>
						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">&#169; 2026 Globant. All rights reserved<br>
						This is a corporate communication from Globant.<br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<img alt="" src="https://more.globant.com/r/497451/1/1653674345/open/1" /><style data-ignore-inlining>@media (prefers-color-scheme: dark) { #_t::before {content:url('https://miax4ejj.emltrk.com/v2/miax4ejj?rd&d=[UNIQUE]');}} @media (prefers-color-scheme: light) { #_t::before {content:url('https://miax4ejj.emltrk.com/v2/miax4ejj?rl&d=[UNIQUE]');}} @media print{ #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?p&d=[UNIQUE]');}} div.OutlookMessageHeader {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} table.moz-email-headers-table {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} blockquote #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} #MailContainerBody #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')}</style><div id="_t"></div>
<img src="https://miax4ejj.emltrk.com/v2/miax4ejj?d=[UNIQUE]" width="1" height="1" border="0" alt="" />
</body>
</html>