<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>IA CURSOS</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body

style="background-color:#ffffff; padding: 0; padding-bottom: 20px; margin: 0"  bgcolor="#ffffff">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">templates</div>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#ffffff; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<!--td style="font-family:'Heebo',Helvetica,sans-serif;background-color:#4338A4;color: #2D2B63;background-size: cover;  background-repeat: repeat;padding: 30px;font-size: 15px;border-radius: 30px;   line-height: 25px; text-align: center; font-weight: 300 " width="600" class=""-->

							<td style="font-family:'Heebo',Helvetica,sans-serif;background-color:#ffffff;background-image: url(https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/DOJO_2026_Mentees_Feb_3_Background.png);color: #2D2B63;background-size: cover;  background-repeat: repeat;padding: 30px;font-size: 15px;border-radius: 30px;   line-height: 25px; text-align: center; font-weight: 300 " width="600" class="">
							
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							    <tbody>
                                    <tr>
                                        <td class="" ><img alt="Tech-hub" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/DOJO_2026_Mentees_Feb_3_Header.jpg" style="display:block; border-radius: 20px" width="590"></td>
                                     </tr>
                                 </tbody> 
                                 </table>
                         
                    
                            &nbsp; 
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
                            <tbody>
								<tr>
									<td pardot-data="" style="padding: 35px; background-color: rgba(255, 255, 255, 100); border-radius: 20px; text-align: justify; line-height: 25px; font-weight: 300; font-size: 15px; color: rgb(0, 0, 0);" class="">
                                        <h3>Hola Career Mentor,
										<br><br>La Comunicación con tu Mentee es Fundamental</h3>
										<br>Uno de tus mentees ha sido invitado a responder un breve assessment para conocer los skills técnicos que ha adquirido hasta el momento. Para ello te invitamos a que lo motives a responderlo dentro de las fechas indicadas, sus respuestas nos ayudarán a identificar cuáles son los gaps técnicos que tiene y así poder desarrollar una ruta de aprendizaje que refuerce su conocimiento, tu liderazgo acá es clave. <strong>¡Contamos con tu Apoyo!

										<br><br>Para tu mentee es obligatorio responder esta prueba.
										</strong>

										<br>
                                        <br>A tu mentee le estará llegando un correo desde el dominio <strong>HackerEarth.com</strong>

										<!--br><br>Te estaremos agregando al canal de slack
										<br><strong>#g-s-qe-futurereleases-cope</strong> <img alt="Slack logo" src="https://ci3.googleusercontent.com/meips/ADKq_NbM7wKcpFt6_7Oa8mwmJFbfw8j0eQgezQNn9cuBxFtE-etXSw2-xvQFT4Phkhei3VGSXggwx_F2ze1fKRm0f4qzxwt5QO2hup8Hp7gydDe6fTqWxxtJptpua-DAefClYpOqj3eG=s0-d-e1-ft#https://communications.globant.com/Comm/Events/int/2020/TechTalks/img/slack.png" align="center" width="20" class="CToWUd" data-bit="iit"-->	
										
                                        <br>
                                        </td>
									<br>

									
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
												<table>
													<tbody>
														<tr>
															<br>
									<td bgcolor="#99CCB3;" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #DDD741;  " width="180" class=""><a href="https://calendar.google.com/calendar/u/0/r/eventedit/copy/NGVjNnNwc2NlbXM0azJsbmpuZWo3MTNjdGsgbi5oZXJyZXJhQGdsb2JhbnQuY29t/bWF1cmljaW8uY2hhdmV6QGdsb2JhbnQuY29t" style="text-align:center;font-family: Heebo;font-size:15px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #000000;line-height: 30px; text-align: center">Revisa tus mentees</span> </a></td>
						
														</tr>							
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<br>

						<p style="font-family:'Heebo', sans-serif;color: #010101;font-size: 11px; text-align:center">(c) 2026 Globant. All rights reserved<br>
						This is a corporate communication from Globant. </a><br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#010101;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</html>