
					
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Globant</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
    </style>
    <link rel="shortcut icon" type="image/png"
        href="https://communications.globant.com/Comm/favicon/images/favicon.png">
<meta name="robots" content="noindex, nofollow" /></head>
<body bgcolor="#aaaaaa" style="margin:0;padding:0; background-color: #806aaa">

<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="font-family:Heebo, Helvetica, sans-serif;" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#806aaa" style="background-color:#806aaa;background-repeat: no-repeat; background-size: cover">
			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
				<tbody>
					<tr>
						<td align="center" height="40" style="font-family:Heebo,Helvetica,sans-serif;font-size:10px;color:#;" class=""></td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="750">
				<tbody>
					<tr>
						<td style=" font-family:'Heebo',Helvetica,sans-serif;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" width="750">
							<tbody>
								<tr>
									<td style="font-family:'Heebo',Helvetica,sans-serif;background-color:#fafafa;color: #ffffff;background-image: url(https://wilmer-poveda.github.io/QE-communications/assets/images/2026/Mauricio/DOJO_2026_Mentees_2_1.png);background-size: cover;background-position: center; background-repeat: repeat;padding-top:20px;padding-left: 0px;font-size: 18px;border-radius: 30px; padding-bottom: 130px " width="750">
									<table align="center" border="0">
										<tbody>
											<tr>
												<td align="left">
												<table role="presentation">
													<tbody>
														<tr>
															<td style="padding-left: 310px; padding-right: 10px; font-size: 14px; font-weight: 600; line-height: 24px" class="">

																<br><br><p style="font-size: 22px; color: rgb(255, 255, 255);"><strong>Potencia tus Habilidades<br> ¡Tu conocimiento es muy valioso!</strong></p><br>
																
															<span><br>Hola Glober,<br><br>
																Te invitamos a responder un breve assessment para conocer los skills técnicos adquiridos hasta el momento, incluso si ya tienes un nuevo proyecto asignado. Tus respuestas nos ayudarán a identificar cuáles son tus gaps técnicos y así poder desarrollar una ruta de aprendizaje en conjunto con tu career mentor. <strong>¡Contamos Contigo!</strong><br><br>
																<strong>&#9888;&#65039; RECUERDA QUE ES OBLIGATORIO RESPONDER ESTA PRUEBA, DEBES COMPLETARLA MÁXIMO A LOS 3 DÍAS SIGUIENTES DE HABER INGRESADO A DOJO &#9888;&#65039;</strong>
																<br><br>Te estará llegando un correo desde el dominio <strong>HackerEarth.com</strong></span><br><br>
															<span>Te estaremos agregando al canal de slack <br>&nbsp;<strong>#g-s-qe-futurereleases-cope</strong>&nbsp; </span> <a href="https://more.globant.com/e/497451/archives-CKP428WNL/6xcpvc/1433424277?h=yG7pcPEw6QDu8HXMqFpaktAcNcRuGonNgBIqyHJ3X14" rel="noopener" style="color: #000;" target="_blank"><img alt="Slack logo" src="https://communications.globant.com/Comm/Events/int/2020/TechTalks/img/slack.png" align="center" width="20"></a>
															
															

       
																												
<br>
<span style="color: #bfd732; font-size: 18px; font-weight: bold"><br><br></span><br>
<br>
<span style="font-size: 13px"><em></em></span></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- FOOTER -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
							<tbody>
								<tr>
									<td style="font-family:'Open Sans', Helvetica, sans-serif;color:#fff;font-size:11px;line-height: 20px;text-align:center;padding: 20px;border-radius:0 0 10px 10px;" class=""><span style="color:#ffffff;font-family:Heebo, Helvetica, sans-serif;font-size: 11px;">(c) 2026 Globant. All rights reserved<br>
									This is a corporate communication from Globant.<br>
									If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribeConfirm/497451/256fbc2b4b26ce1a4f40202157f6dddc1561636476c1d0b21709847fdcbaba30/1316340257" style="color:#ffffff;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications. </span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>



</html>			<script type="text/javascript">
piAId = '498451';
piCId = '14188';
piHostname = 'pi.pardot.com';

(function() {
	function async_load(){
		var s = document.createElement('script'); s.type = 'text/javascript';
		s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
		var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	}
	if(window.attachEvent) { window.attachEvent('onload', async_load); }
	else { window.addEventListener('load', async_load, false); }
})();
</script>	
