<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>Convocatorias 2025</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body

style="background-color:#eeeeee; padding: 0; padding-bottom: 20px; margin: 0px"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">templates</div>

<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#eeeeee; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" 
						style="padding:90px; font-family: 'Heebo', sans-serif;  color: #000000; line-height:24px; text-align:center; 
							   background: linear-gradient(to bottom right, #9b60eb, #0E1C51, #000000); 
							   border-radius: 30px; font-weight: 300; background-size: cover; background-repeat: no-repeat;">
							
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							    <tbody>
                                    <tr>
                                        <td class=""><img alt="Tech-hub" src="https://imgur.com/W1mznaZ.png" style="display:block; border-radius: 30px" width="550"></td>
                                     </tr>
                                 </tbody> 
                                 </table>
                         
                    
                            &nbsp; 
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style=" font-family:Heebo, Helvetica, sans-serif, width=100%">
                            <tbody>
								<tr>
									<td style="background-color: #ffffff;border-radius: 30px; padding: 30px; font-size: 14px" class=""> 
									<h1></h1>
									<h3 style="text-align: center; font-size: 20px;"> Estamos buscando trainers y equipo de apoyo para la preparación del curso <br><a style= "color: #784ec4;">ISTQB Agile Tester 2025</a> 
									</h3> 
									
									
									<br><strong>Ubicación:</strong> Virtual  💻
									<br><br><strong>Descripción:</strong> Para la preparación del curso ISTQB Agile tester (ISTQB CTFL-AT) buscamos  <a style= "color: #784ec4;">TRAINERS</a> que lideren cada sesión de estudio y voluntarios para los equipos de ajuste de material, banco de preguntas y logística para la realización del curso.
									<p style="text-align: left">
										<strong>Detalles:</strong> Todo el detalle de la convocatoria está en el formulario de registro, incluyendo las condiciones para participar. <a style= "color: #784ec4;">Favor revisarlas antes de inscribirse.</a>
									
										<br><br><strong>Fecha máxima de Registro:</strong> Viernes 28 de Marzo del 2025
										<br><br><strong>Q/A:</strong> Dudas o inquietudes por favor comunicarse con Patricia Pinzón <br> (email: patricia.pinzon@globant.com / slack: Patty Pinzón)
									</p>
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
												<table>
													<tbody>
														<tr>
															<p></p>
									<td bgcolor="#99CCB3;" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #000000;  " width="180" class=""><a href="https://forms.gle/xNHswGJDJBogV6wQ8 " style="text-align:center;font-family: Heebo;font-size:12px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #ffffff;line-height: 30px; text-align: center">QUIERO REGISTRARME</span> </a></td>
						
														</tr>							
														
												<table>
													<tbody>
														<tr>
															<br><i>*Aclaración:<a style= "color: #784ec4;"> ésta NO es la invitación al curso, </a>
																<br>es la convocatoria para postularse como trainers y equipo de apoyo para el mismo.
															<br>
														</tr>
														
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									</td>
								</tr>
							</tbody>
						</table>


						</td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<br>

						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">(c) 2025 Globant. All rights reserved<br>
						This is a corporate communication from Globant. </a><br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</html>