<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workshop</title>
    <style>
        body {
            font-family: Heebo, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f6f7;
        }
    </style>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#E7E7E7" width="100%">
        <!--div style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden">
            Contar con Globers como tú es importante. Por ello, te invitamos a participar de las inscripciones para que seas parte del Comité de Convivencia Laboral, el cual es el encargado de fomentar acciones que promueven un ambiente de trabajo armonioso, seguro y buscan prevenir el acoso laboral.
        </div-->
        &nbsp;

        <table align="center" border="0" cellpadding="0" cellspacing="0"
            style="font-family:Heebo, Helvetica, sans-serif" width="650">
            <tbody>
                <tr>
                    <td background="/assets/images/2025/John/WorkShopHabitsBackground.jpg"
                        style="border-radius:30px; padding-top:30px; background-color:#f5f6f7; padding-bottom:40px; background-image:url(/assets/images/2025/John/WorkShopHabitsBackground.jpg); background-position:center top; background-size:cover; font-family:Heebo, Helvetica, sans-serif; text-align:center">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
                            <tbody>
                                <tr>
                                    <td style="border-radius:30px 30px 0px 0px">
                                        <center>
                                            <a href="#m_-1539388908438164945_m_6271564402472997821_">
                                                <img alt="Workshop"
                                                    src="/assets/images/2025/John/WorkShopHabitsHeader.png"
                                                    style="border-radius:30px 30px 0px 0px; display:block" width="550"
                                                    class="CToWUd">
                                            </a>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                            style="font-family:Heebo, Helvetica, sans-serif" width="550">
                            <tbody>
                                <tr>
                                    <td style="color:#000000; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; padding:20px 40px 10px 40px; line-height:24px; font-weight:400; background-color:#ffffff"
                                        valign="middle" width="100%">
                                        <span
                                            style="margin:0; padding:0; color:#000000; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; line-height:23px; font-weight:400">

                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; padding:0px 40px 20px 40px; line-height:24px; font-weight:400; background-color:#ffffff"
                                        valign="middle" width="100%">

                                        <h2>Los 7 Hábitos de la gente altamente Efectiva</h2>
                                        <h3><strong>Modalidad: Virtual</h3>

                                        <br>
                                        <center><img alt="speaker1"
                                                src="/assets/images/2025/John/Nyree Larrarte Martinez.jpeg" width="100"
                                                style="display:block;border-radius:50%" class="CToWUd" data-bit="iit">
                                        </center>


                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#565656; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; padding:0px 40px 20px 40px; line-height:24px; font-weight:400; background-color:#ffffff"
                                        valign="middle" width="100%" justify="justify">



                                        <h3>Speaker: Nyree Larrarte Martinez</h3>
                                        <p style="text-align:justify"><strong>Descripción:</strong> Desbloquea tu Máximo
                                            Potencial:
                                            Workshop Exclusivo "Los 7 Hábitos de la Gente Altamente Efectiva"

                                        </p>
                                        <ul
                                            style="text-align:justify;padding-left:20px; margin:10px 0 0 0; color:#565656; font-size:15px; line-height:22px;">
                                            <li style="margin:6px 0;">¿Sientes que estás constantemente <strong>apagando
                                                    incendios</strong> en lugar de avanzar
                                                hacia tus metas?</li>
                                            <li style="margin:6px 0;">¿Quieres dejar de reaccionar a las circunstancias
                                                y empezar
                                                a <strong>diseñar activamente tu vida y tu liderazgo?</strong></li>

                                        </ul>
                                        <p style="text-align:justify">Te invitamos a una experiencia de inmersión
                                            profunda basada en el best-seller atemporal de Stephen Covey, donde
                                            descubrirás que el verdadero éxito no depende de la suerte, sino de un
                                            conjunto de hábitos probados.
                                        </p>
                                        <p style="text-align:justify">En este workshop, invertirán en la herramienta más
                                            importante para tu éxito: <strong>tú mismo.</strong>
                                            <br>Adquirirás herramientas para:
                                        </p>
                                        <ol
                                            style="text-align:justify; padding-left:22px; margin:10px 0 0 0; color:#565656; font-size:15px; line-height:22px;">
                                            <li style="margin:6px 0;">El Dominio Personal y la Productividad Sostenible
                                            </li>
                                            <li style="margin:6px 0;">La Maestría en las Relaciones y el Liderazgo de
                                                Alto Impacto</li>
                                            <li style="margin:6px 0;">Renovación y Equilibrio Duradero</li>
                                        </ol>

                                        <br><strong>Nivel: </strong>Básico
                                        <br><strong>&#9201;&#65039; Duración: </strong>1.5 horas - 1 Sesión
                                        <br><strong>&#128198; Fecha: </strong>Jueves 30 de Octubre 2025
                                            
                                        <br><strong>&#128073;&#127995; Horario: </strong> 4:00 a 5.30 PM
                                        <br><strong>Capacidad: </strong>Limitada.
                                        <br>
                                    </td>
                                </tr>
                                

                                <tr>
                                    <td style="color:#000000; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; padding:0px 40px 10px 40px; line-height:24px; font-weight:400; background-color:#ffffff"
                                        valign="middle" width="100%">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                                            role="presentation">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="#20D9A7"
                                                        style="border-radius:50px; font-family:Heebo, Helvetica, sans-serif; display:block; border:1px solid rgb(80, 108, 243); background:rgb(80, 108, 243)"
                                                        width="180px">
                                                        <span style="font-size:20px">
                                                            <strong>
                                                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKB5OC6YzQX-ijPC91EaqZrXB-SIXI0E3qxrnNBbcCrUo-Gg/viewform?usp=header"
                                                                    style="text-decoration:none; color: #ffffff;"
                                                                    target="_blank">
                                                                    Inscríbete
                                                                </a>
                                                            </strong>
                                                        </span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="color:#000000; text-align:center; font-size:15px; font-family:Heebo, Helvetica, sans-serif; padding:10px 40px 30px 40px; line-height:24px; font-weight:400; background-color:#ffffff; border-radius:0px 0px 30px 30px"
                                        valign="middle" width="100%">
                                        <!--span>
                                            Si tienes alguna pregunta, no dudes en 
                                            <a href="mailto:sg-sst@globant.com" rel="noopener" style="color:#000000" target="_blank">
                                                <strong>contactarnos</strong>
                                            </a>.
                                        </spa-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="font-family:'Heebo', sans-serif; text-align:center; color:#fff; padding:20px; line-height:20px; font-size:15px; border-radius:0px 0px 30px 30px; padding-top:20px; padding-bottom:30px"
                        width="650">
                        <center>
                            <a href="https://more.globant.com/e/497451/-07082020-ao0227-footer-emails/6zsxvc/1770598318/h/iTPBBAND9q7XwOKdb1hAb76nNQp6hbiqMu9HwvfV6Rk"
                                target="_blank">
                                <img alt="Globant"
                                    src="https://ci3.googleusercontent.com/meips/ADKq_NYZMpCKGs81pXQfxo-ak-t8QurXMAiBooZYv0uAsma0UIZ7qvooRLD7jqGhGc6mpnBdOXREAdnugC5NxvzlY7zXeGgpk3rfTy8vNp5qfdAU_dEjl89IyWBBdsP7rbssTC6z8oMgeSc0YA=s0-d-e1-ft#https://communications.globant.com/Comm/seek-reinvention/nurturing/globant_gris.png"
                                    style="display:block" width="135">
                            </a>
                        </center>
                        &nbsp;

                        <p style="color:#818181; font-family:Heebo, Helvetica, sans-serif; font-size:11px">
                            (c) 2025 Globant. All rights reserved<br>
                            This is a corporate communication from Globant. If you are not sure about receiving our
                            emails,
                            <a href="https://more.globant.com/unsubscribe/u/497451/256fbc2b4b26ce1a4f40202157f6dddc1561636476c1d0b21709847fdcbaba30/1770598318"
                                style="color:#818181; text-decoration:underline" target="_blank">
                                unsubscribe here
                            </a> (this is a one-click opt-out) from all our internal communications.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
</body>

</html>