<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>TechTalks</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body
  style="background-color:#ffffff; padding: 0; margin: 0"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden"></div>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#f4edf6; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" style="padding:50px;font-family: 'Heebo', sans-serif;  font-size: 14px;color: #000000; line-height:24px; text-align:center;  background-color: #ffffff;  border-radius: 10px ; font-weight: 300; background-image: url(http://imgfz.com/i/FN5JOPf.png); background-repeat: no-repeat; background-size: cover; ">
						<center><img alt="values" src="http://imgfz.com/i/MbTQzAm.png" style="display: block" width="550"></center>
						<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							<tbody>
								<tr>
									<td style="background-color: #ffffff; padding: 10px" class="">
									<table align="center" border="0" cellpadding="0" cellspacing="0"
														width="450"
														style="letter-spacing:normal;color:rgb(0,0,0);font-size:15px;">
														<tbody>
															<tr>
															<h1 style="font-size: 38px; letter-spacing: -1px; font-weight: 900; line-height: 40px; color: #141758">¡Únete a nuestras TechTalks!</h1>
																<td bgcolor="#f5f6f7"
																	style="letter-spacing:0px;line-height:23px;background-color:rgb(243,232,253);border-radius:20px;padding:10px">
																	<center><img alt="speaker1" src="https://iili.io/Kfe6fI9.png" style="display: block; border-radius: 50% " width="100"></center>
																	<span
																		style="color: #020202; font-weight: 350; text-align:center">
																		<br><strong>Juan de Jesús Fernandez Graciano </strong>
																	</span>	
																	<span
																		style="color: #2e3d70; font-weight: 400; text-align:center">
																		<br><strong>Crea Stubs para tus pruebas usando Wiremock</strong>
																	</span>	
																	<br>
																	<span
																		style="color: #000000; font-size: 13px; text-align: justify">
																		
																		<br style="text-align: justify;">Estás en un proyecto donde tu data o API aún no está listo pero no quieres bloquear 
																		tus pruebas? Crea tus stubs usando Wiremock para que tu proceso de certificación continúe sin inconvenientes y tu 
																		suite de pruebas sea más robusta anticipándote a posibles bugs.
																	    <strong><br><br>&#128198; Martes 2 de Septiembre
																	    <br> 🕒 4:00 pm	</strong>																
																</span>	
																</td>
															</tr>
														</tbody>
									</table>
									
									<br>
													<table align="center" border="0" cellpadding="0" cellspacing="0"
														width="450"
														style="letter-spacing:normal;color:rgb(0,0,0);font-size:15px;">
														<tbody>
															<tr>
																<td bgcolor="#f5f6f7" 
																	style="letter-spacing:0px;line-height:23px;background-color:rgb(243,232,253);border-radius:20px;padding:10px">
																	<center><img alt="speaker1" src="https://iili.io/KfeslEu.png" style="display: block;   border-radius: 50% " width="100"></center>
																	<span
																		style="color: #020202; font-weight: 350; text-align:center">
																		<br><strong>Sandra Patricia Escallón Contreras </strong>
																	</span>	<span
																		style="color: #2e3d70; font-weight: 400; text-align:center">
																		<br><strong>Gestionando tus emociones</strong>
																		
																	</span>	
																	<br>
																	<span
																		style="color: #000000; font-size: 13px; text-align: justify">
																		
																		<br style="text-align: justify;">Nuestra mente es como un oceano revuelto, con olas grandes, impetuosas, 
																		agresivas y eso nos afecta a nuestra vida, en la salud, aumenta tensión, cortisol, etc. Cuando una persona 
																		se va sosegando, calmando.. Es como si pasaras de la superficie del oceano con sus olas e inclemencias, 
																		a un espacio un poquito por debajo de la superficie, en donde aunque sientes la agitación de las olas, 
																		ya no estarán afectando tanto.
																		<br>Es cuestión de darnos cuenta y hacernos cargo! Fe!
																	    <strong><br><br>&#128198; Martes 9 de Septiembre
																	    <br> 🕒 4:00 pm </strong>															
																</span>	
													
																	
																</td>
															</tr>
														</tbody>
													
													</table>
													<br>
													<table align="center" border="0" cellpadding="0" cellspacing="0"
														width="450"
														style="letter-spacing:normal;color:rgb(0,0,0);font-size:15px;">
														<tbody>
															<tr>
																<td bgcolor="#f5f6f7" 
																	style="letter-spacing:0px;line-height:23px;background-color:rgb(243,232,253);border-radius:20px;padding:10px">
																	<center><img alt="speaker1" src="https://iili.io/KfeQxR4.png" style="display: block;   border-radius: 50% " width="100"></center>
																	<span
																		style="color: #020202; font-weight: 350; text-align:center">
																		<br><strong>Federico Kereki </strong>
																	</span>	<span
																		style="color: #2e3d70; font-weight: 400; text-align:center">
																		<br><strong>LA IMPORTANCIA DE DECIR NO</strong>
																		
																	</span>	
																	<br>
																	<span
																		style="color: #000000; font-size: 13px; text-align: justify">
																		
																		<br style="text-align: justify;">Decir "no" puede parecer algo simple, pero en la práctica, muchas personas lo evitan 
																		por miedo al rechazo, la culpa o el conflicto. Aprender a decir “no” es también una forma poderosa de decirte “sí” a 
																		ti mismo. Reflexionar sobre por qué establecer límites saludables es una parte esencial del respeto propio, 
																		del manejo del tiempo y de la construcción de relaciones auténticas.
																	    <strong><br><br>&#128198; Martes 16 de Septiembre
																	    <br> 🕒 4:00 pm	</strong>															
																</span>	
													
																	
																</td>
															</tr>
														</tbody>
													
													</table>
									<br>
				
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center"
												bgcolor="#d3a8ff" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #891af5; " width="150" class=""><a href="https://docs.google.com/forms/d/e/1FAIpQLScS5mC7odyaRj4JbrBzMjw_yXgjxhdI7Q-qWskBvcN1GU5txA/viewform?usp=header" style="text-align:center;font-family: Heebo;font-size:18px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #ffffff;line-height: 30px; text-align: center">¡Inscríbete!</span></a>
													<tbody>
													</tbody>		
												</td>
											</tr>
										</tbody>
						            </table>
								
									</td>
								</tr>
							</tbody>
			            </table>
						</td>
					</tr>
				</tbody>
			</table>
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<td align="center" style="padding: 30px; line-height: 20px; color: #000000 " valign="top" class="">
						<center><img alt="culture evoution" src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/public-images/headers/moni_bernal/logo_gb_00.png" style="display: block;" width="150"></center>
						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">&#169; 2026 - Globant. All rights reserved.<br>
						This is a corporate communication from Globant.<br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<img alt="" src="https://more.globant.com/r/497451/1/1653674345/open/1" /><style data-ignore-inlining>@media (prefers-color-scheme: dark) { #_t::before {content:url('https://miax4ejj.emltrk.com/v2/miax4ejj?rd&d=[UNIQUE]');}} @media (prefers-color-scheme: light) { #_t::before {content:url('https://miax4ejj.emltrk.com/v2/miax4ejj?rl&d=[UNIQUE]');}} @media print{ #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?p&d=[UNIQUE]');}} div.OutlookMessageHeader {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} table.moz-email-headers-table {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} blockquote #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')} #MailContainerBody #_t {background-image:url('https://miax4ejj.emltrk.com/v2/miax4ejj?f&d=[UNIQUE]')}</style><div id="_t"></div>
<img src="https://miax4ejj.emltrk.com/v2/miax4ejj?d=[UNIQUE]" width="1" height="1" border="0" alt="" />
</body>
</html>