<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Nunito+Sans:ital,wght@0,600;1,600&display=swap');



    #fondo{
      background-color: #dcaa7b;
      font-family: 'Heebo', sans-serif;
      min-width: 650px;
      margin: 0px 0px;
    }

    .speaker-img {
      border-color: transparent !important;
      display: inline-block;
      min-height: 100px;
    }

    .speaker-img img {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div id="fondo">
    <table style="color: #FFFFFA; font-size: medium; padding-top: 1.8rem;" width="650" cellspacing="0" cellpadding="0"
      align="center">

      <tbody>
        <td>
          <img src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/headers/rummikub_2023.png" alt="Campeonato RUMMIKUB" width="650"
            style="display: block; border-top-right-radius: 1.1rem; border-top-left-radius: 1.1rem">
        </td>
      </tbody>

      <td
        style="background-color:#f2f1f1; padding: 2.5rem 3rem; text-align:center; font-size:15px; color:#1F2537;">
    <!--
        <span style="text-align: center; line-height:12px; font-size: 14px;margin-right: 30px;">&#128197; Jueves 23 de Marzo</span>
        <span style="text-align: center; line-height:12px; font-size: 14px;margin-left: 30px;">&#128338; 03:00 PM (COT)</span>
    -->
        <p style="font-size: 17px; font-weight: bold; text-transform: uppercase; padding-bottom: .5rem;font-family: 'Heebo', sans-serif"><b>Campeonato RUMMIKUB</b></p>

        <p style="text-align: left; line-height:30px;font-family: 'Heebo', sans-serif">
        <b>Fechas de Inicio y fin del campeonato: </b>4 de septiembre como fecha de inicio. La duración del torneo está dada por el número de inscritos por lo que no podemos definir aún la fecha final, pero estimamos 8 semanas.
        </p>
        <p style="text-align: left; line-height:30px;font-family: 'Heebo', sans-serif">
          <b>Reglas Generales:</b>   <a href="https://docs.google.com/document/d/1M-6aExwgyihKEvBE77vnWb7ulLQN-tLbKTbkhTUSqrQ/edit?usp=sharing" target="_blank"> ver reglas &#128279; </a>
        </p>
        <p style="text-align: left; font-weight: normal; font-style: italic; line-height:25px;">
          Las inscripciones se realizarán desde la fecha de inicio del comunicado hasta el viernes 25 de agosto
        </p>
        <br>

        <table align="center" style="padding-top: 25px;">
          <tbody>
            <tr>
              <td align="center" width="180" height="35" bgcolor="#000000"
                style="border-radius: 40px; font-family: Heebo, sans-serif; color: #FFFFFF;background-color: #0094b1; ">

                <a href="https://docs.google.com/forms/d/e/1FAIpQLSefTVJ5UOK--MMPQ4reU5WkkYNXC6M0ZmNrpB40bnpZd2Hp0A/viewform"
                  target="_blank"
                  style="font-family: Heebo, sans-serif; font-size:16px; font-weight: bold; text-decoration: none; width:100%; display:inline-block">
                  <span style="color: #FFFFFF;">Quiero Participar!  &#127918;</span></a>

              </td>
            </tr>
            <tr>
              <table>
                <tbody>
                  <tr>
                    <td align="center"></td>
                  </tr>
                </tbody>
              </table>
            </tr>
            <tr>
              <td style="padding-bottom: 1.8rem;">
                <table width="650" cellspacing="0" cellpadding="0" align="center"
                  style="height: 190px; background-color: #0094b1; border-bottom-right-radius: 1.1rem; border-bottom-left-radius: 1.1rem">
                  <tbody>
                    <tr>
                      <td style="font-size: 11px; text-align: center; padding: 20px;" align="center">
                        <img style="padding-bottom: 25px;"
                          src="https://ci6.googleusercontent.com/proxy/KGln9EvJV6lg_rJMX0Ps7KuemPicTr3ch1EKg-TlBUO45OvzNxcXgyL5hcNQ002ud9Z-qZM6Idf2XSvgk5R6c0dTFk7sIqdY5WAUSmnAgUUA-yZJKWcQ=s0-d-e1-ft#https://communications.globant.com/Comm/Corporate/GameofPods/glb.png">

                        <table border="0" width="300" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="https://www.facebook.com/Globant" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci4.googleusercontent.com/proxy/93T2jK-kA8VDjTWLQu1qt0PoKuwD1SpvoJMfKUX85RObO1djwEdUBIua8NIJpedJXkLglV-P9jbKB27ZIyc3IR6gq0nmzFug7vE1zoyHFWtYoisxn6s=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/facebook2017.png"
                                    alt="Facebook" width="35" height="35">
                                </a>
                              </td>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="http://www.twitter.com/globant" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci6.googleusercontent.com/proxy/ZA6j9H4xuyfE6NX9BHqgLslLmiZaQLllLptkHI83I8NRHOOMKUL8wJPwvtDyQVdJMEydlOLN8kjhGZZmvtgtlhaGSAQZSgwf-VmA5klhrtXIk_kngg=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/twitter2017.png"
                                    alt="Twitter" width="35" height="35">
                                </a>
                              </td>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="http://www.youtube.com/Globant" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci3.googleusercontent.com/proxy/1JAaV29DDuKcaqMW1Sv6KGwYBSQGKkzSbieiLpVPm6wT4jlqq5dnX27jCCXiduCN2OCH73h4k4hzMA7F6n2cdPArFF4a1oHgGCv_bA_jGlqk1FJlNA=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/youtube2017.png"
                                    alt="Youtube" width="35" height="35">
                                </a>
                              </td>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="https://www.linkedin.com/company/globant" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci5.googleusercontent.com/proxy/-J8w5kqYSJ3b7J5K7ljOEk2ohBtq6SJz62SbhuYEJlE-qRQI04AjQT7w_Bck2jhThoVd6zVRNLEqo0cU_4jpdkEYP26F3euE0q4TU7PPzDSVaAysUeY=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/linkedin2017.png"
                                    alt="Linkedin" width="35" height="35">
                                </a>
                              </td>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="https://www.instagram.com/globant/" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci5.googleusercontent.com/proxy/WhHpjA-bo3RdUvaEqfQwjLh_qWNuQUO_xsdD-XqWSMUqi5-24DvAtFKWHJZJTktK1FOzCXXOVxLzBO5e44uT2jXXp6gHvunFKZ7Cvjfeu0e6ILtLD7mT=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/instagram2017.png"
                                    alt="Instagram" width="35" height="35">
                                </a>
                              </td>
                              <td align="center" valign="bottom" width="50" height="36">
                                <a href="http://www.globant.com/" target="_blank" rel="noopener">
                                  <img class="gmail-CToWUd"
                                    src="https://ci5.googleusercontent.com/proxy/ph3h5Z088uEBUPHQpAKjPY9Dh8e82EzYl-RNuTa_gjVorZ-bQ604YtdxttO6G8c0saGtRSHCeMCbgCxrDXCzvRntTonox4INFjaErcMA-l7DVLG7yw=s0-d-e1-ft#https://communications.globant.com/Comm/footer2017/globant2017.png"
                                    alt="Globant" width="35" height="35">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p class="copy-right">&copy 2023 Globant. All rights reserved</p>
                        <p class="copy-right">This is a corporate communication from Globant. <br> If you are not sure
                          about receiving our emails, <a
                            href="https://communications.globant.com/Comm/Studios/QualityEngineering/%7B%7BUnsubscribe%7D%7D"
                            target="_blank" style="color: #FFFFFF;" rel="noopener">unsubscribe</a> here from all our
                          internal communications.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
<br>

</body>
</html>