<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>Globant</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
<meta name="robots" content="noindex, nofollow" /></head>
<body style="background-color:#f4f4f4;  background-size:cover; padding: 0; margin: 0" bgcolor="#ffffbf" >
​
​
<table align="center" bgcolor="#f5f6f7" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#f4f4f4; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif;" width="650">
				<tbody>
					<tr>
						<td height="30" style="color: #818181; text-decoration: none; font-family: Heebo, Arial,' sans-serif' ; text-align: right;" class="">
						</td>
					</tr>
				</tbody>
			</table>
            
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo,Helvetica,sans-serif;" width="550">
               
				<tbody>
                    
					<tr>
						<td style="background-image: url(https://wilmer-poveda.github.io/QE-communications/assets/images/2025/Mauricio/Font_Dojo_3.png);padding:30px;font-family: Heebo , sans-serif; text-align:center; font-weight:300; font-size:15px; line-height:24px; color:#ffffff; border-radius: 30px 30px 0 0; padding-bottom: 0px">
                            <spam style="text-align: left;"><strong><left><h2>Potencia tus Habilidades </h2></left>
                                <h1><br>¡Tu conocimiento es muy valioso!</h1></strong></spam> 
                            
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo,Helvetica,sans-serif;" width="100%">
                                
							<tbody>
								<tr>
                                    
                                    <td align="left" style="border-radius: 20px 20px  20px 20px; padding:20px;" class="">
									
                                        
                                   
									<br>

									Hola Glober,<br>
									<br>
                                    Te invitamos a responder un breve assessment para conocer los skills técnicos adquiridos hasta el momento, incluso si ya tienes un nuevo proyecto asignado. Tus respuestas nos ayudarán a identificar cuáles son tus gaps técnicos y así poder desarrollar una ruta de aprendizaje en conjunto con tu career mentor. <strong>¡Contamos Contigo!</strong><br>
										<strong><p style="font-size: 12px; color: rgb(255, 255, 255);">*Recuerda que es obligatorio responder esta prueba </p></strong>
										Te estará llegando un correo desde el dominio <strong>HackerEarth.com</strong><br>
									</td>
									<td align="center" style="border-radius: 20px 20px 20px 20px; font-family:Roboto,Helvetica,sans-serif;color:#ffffff;font-size:15px;padding:15px 15px 15px 25px;" width="1%" class="">
									<img alt="language school" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2025/Mauricio/Image_Dojo_3.jpeg" style="display: block; border-radius: 10px" width="180">
									</td>
​
​
​
​
​
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" pardot-data="" style="text-align: center; font-weight: 300; padding: 20px; background: #152D50; border-radius: 0px 0px 30px 30px; color: rgb(255, 255, 255);" class=""><table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
							<tbody>
								<tr>
									<td align="center" bgcolor="#152E50" style="border-radius: 20px 0 0 20px; font-family:Roboto,Helvetica,sans-serif;color:#fff;font-size:15px;padding:15px 15px 15px 25px;" width="8%" class=""><a href="https://more.globant.com/e/497451/archives-CKP428WNL/6xcpvc/1433424277?h=yG7pcPEw6QDu8HXMqFpaktAcNcRuGonNgBIqyHJ3X14" rel="noopener" style="color: #000;" target="_blank"><img alt="Slack logo" src="https://communications.globant.com/Comm/Events/int/2020/TechTalks/img/slack.png" style="display:block;" width="45"></a></td>
									<td align="left" bgcolor="#152E50" style="border-radius: 0 20px  20px 0; text-align: center; font-family:Roboto,Helvetica,sans-serif;color:#ffffff;font-size:15px;padding:20px; font-weight: 300" class=""><span>Te estaremos agregando al canal de slack <br><strong>#g-s-qe-futurereleases-cope</strong></span></td>
								</tr>
							</tbody>
</table>
</td>
					</tr>
				</tbody>
			</table>
			<!-- FOOTER -->
​
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:'Roboto', sans-serif;" width="550">
				<tbody>
					<tr>
						<td align="center" style="font-family:Heebo, Helvetica, sans-serif;color: #000000;line-height: 20px;padding: 20px; " class="">
						<center><a href="https://more.globant.com/e/497451/-07082020-ao0227-footer-emails/6x6rr8/1398925114?h=QwJncLTmlzxwYxkGugCMKURVoKahFQSdbFUbl0MGAi0" target="_blank"><img alt="Globant" src="https://communications.globant.com/Comm/footer/images/globant-logo-black.png" style="display: block" width="120"></a></center>
						<br>
						<span style="font-family:'Heebo', sans-serif;color: #000000;font-size: 11px; text-align:center">(c) 2024 Globant. All rights reserved<br>
						This is a corporate communication from Globant.<br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribeConfirm/497451/256fbc2b4b26ce1a4f40202157f6dddc1561636476c1d0b21709847fdcbaba30/1398925114" style="color:#000000;" target="_blank">unsubscribe here</a> from all our internal communications. </span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>			<script type="text/javascript">
piAId = '498451';
piCId = '14188';
piHostname = 'pi.pardot.com';
​
(function() {
	function async_load(){
		var s = document.createElement('script'); s.type = 'text/javascript';
		s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
		var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	}
	if(window.attachEvent) { window.attachEvent('onload', async_load); }
	else { window.addEventListener('load', async_load, false); }
})();
</script>