<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>IA CURSOS</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body

style="background-color:#eeeeee; padding: 0; padding-bottom: 20px; margin: 0"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">templates</div>

<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#eeeeee; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" 
						style="padding:90px; font-family: 'Heebo', sans-serif; font-size: 15px; color: #000000; line-height:24px; text-align:center; 
							   background: linear-gradient(to bottom right, #1d0a33, #aea5b6, #1d0a33); 
							   border-radius: 10px; font-weight: 300; background-size: cover; background-repeat: no-repeat;">
							
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							    <tbody>
                                    <tr>
                                        <td class=""><img alt="Tech-hub" src="https://wilmer-poveda.github.io/QE-communications/assets/images/2025/Mauricio/AI_July.jpg" style="display:block; border-radius: 20px" width="550"></td>
                                     </tr>
                                 </tbody> 
                                 </table>
                         
                    
                            &nbsp; 
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
                            <tbody>
								<tr>
									<td style="background-color: #eeeeee;border-radius: 20px; padding: 40px; padding-bottom: 10px" class=""> 
									<h1 style="text-align: justify" font-size: 42px; letter-spacing: -1px; font-weight: 900; line-height: 40px; color: #eeeeee"></h1>
								   <h3>Vison Globant 2030 esta mas cerca de lo que crees...!</h3>
								
								   <br>Cada semana compartiremos uno de los entrenamientos que se han preparado para ti
								   No te pierdas la oportunidad de aprender, comprender en que consiste y usar todo tu conocimiento
								   La cumbre es alta pero adelante vamos paso a paso!!!
									<br>

                                    <br>Esta semana queremos motivarte a completar el curso <strong><h4>Agentic AI Systems</h4></strong>


									Este curso explora los sistemas de IA agéntica, caracterizados por su capacidad para actuar de forma independiente y adaptarse a entornos complejos. Se profundizará en su arquitectura, interactividad y capacidades, analizando aplicaciones reales como las soluciones de atención al cliente. El objetivo es comprender qué define a un sistema de IA como agéntico y cómo estas innovaciones están transformando los flujos de trabajo, la toma de decisiones y el futuro de la automatización.
									<br>

									
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
												<table>
													<tbody>
														<tr>
															<p></p>
									<td bgcolor="#99CCB3;" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #FCC834;  " width="180" class=""><a href="https://university.globant.com/group/9423" style="text-align:center;font-family: Heebo;font-size:15px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #554666;line-height: 30px; text-align: center">IR AL CURSO</span> </a></td>
						
														</tr>							
								
												<table>
													<tbody>
														<tr>
															<p></p>
															
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									</td>
								</tr>
							</tbody>
						</table>


						</td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<br>

						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">(c) 2025 Globant. All rights reserved<br>
						This is a corporate communication from Globant. </a><br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</html>