<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>IA CURSOS</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body

style="background-color:#eeeeee; padding: 0; padding-bottom: 20px; margin: 0"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">templates</div>

<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#eeeeee; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" 
						style="padding:90px; font-family: 'Heebo', sans-serif; font-size: 14px; color: #000000; line-height:24px; text-align:center; 
							   background: linear-gradient(to bottom right, #5838B3, #5838B3, #000000); 
							   border-radius: 30px; font-weight: 300; background-size: cover; background-repeat: no-repeat;">
							
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							    <tbody>
                                    <tr>
                                        <td class=""><img alt="Tech-hub" src="/QE-communications/assets/images/2025/Mauricio/IA_Shara_2.jpg" style="display:block; border-radius: 30px" width="550"></td>
                                     </tr>
                                 </tbody> 
                                 </table>
                         
                    
                            &nbsp; 
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
                            <tbody>
								<tr>
									<td style="background-color: #eeeeee;border-radius: 30px; padding: 10px; padding-bottom: 10px" class=""> 
									<h1 style="text-align: justify" font-size: 42px; letter-spacing: -1px; font-weight: 900; line-height: 40px; color: #eeeeee"></h1>
								   <h3>Hola Glober!!!</h3>
								   <br>Vision Globant 2030 está más cerca de lo que crees... 
								   <br>Y para acercarnos juntos a ese futuro, cada semana compartiremos contigo uno de los entrenamientos especialmente diseñados para potenciar tu crecimiento.
								   <br>No dejes pasar esta oportunidad de aprender, descubrir nuevas herramientas y poner en práctica todo tu conocimiento. 
								   <br>La cima puede parecer lejana, pero ¡vamos paso a paso y con rumbo claro!
									
									<br>

                                    <br>Queremos motivarte a completar los cursos de la playlist
									<br><strong>AI-Driven Transformation at Globant</strong> 
								
									
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
												<table>
													<tbody>
														<tr>
															<p></p>
									<td bgcolor="#99CCB3;" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #5838B3;  " width="180" class=""><a href="https://university.globant.com/learning-track/ai-driven-transformation-globant" style="text-align:center;font-family: Heebo;font-size:12px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #ffffff;line-height: 30px; text-align: center">IR A LA PLAYLIST</span> </a></td>
						
														</tr>							
								
												<table>
													<tbody>
														<tr>
															<p></p>
															
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									</td>
								</tr>
							</tbody>
						</table>


						</td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<br>

						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">(c) 2025 Globant. All rights reserved<br>
						This is a corporate communication from Globant. </a><br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</html>