<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>IA CURSOS</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
</style>
<link rel="shortcut icon" type="image/png"
    href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body

style="background-color:#fffacd; padding: 0; padding-bottom: 20px; margin: 0"  bgcolor="#eeeeee">
<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">templates</div>

<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" style="font-family: Heebo, Helvetica, sans-serif; background-color:#f6f6f6; padding: 0; margin: 0" width="100%">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" 
						style="padding:50px; font-family: 'Heebo', sans-serif; font-size: 15px; color: #000000; line-height:24px; text-align:center; border-radius: 20px;
                               background-image: url(/QE-communications/assets/images/2025/Mauricio/Background_pildoras_avance_2025.png);
							   <!-- background: linear-gradient(to bottom right, #03C329, #03C329, #03C329); -->
							   border-radius: 10px; font-weight: 300; background-size: cover; background-repeat: no-repeat;">
							
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
							    <tbody>
                                    <tr>
                                        <td class=""><img alt="Tech-hub" src="/QE-communications/assets/images/2025/Mauricio/Header_pildoras_avance_2025.png" style="display:block; border-radius: 20px" width="550"></td>
                                     </tr>
                                 </tbody> 
                                 </table>
                         
                    
                            &nbsp; 
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="100%">
                            <tbody>
								<tr>
									<td style="background-color: #ffffff;border-radius: 20px; padding: 40px; padding-bottom: 10px" class=""> 
									<h1 style="text-align: justify" font-size: 42px; letter-spacing: -1px; font-weight: 900; line-height: 40px; color: #eeeeee"></h1>
								   <h3>🚀 ¡Tu actualización de conocimiento está lista!</h3>
								
								   <br>¡Hola! 👋

                                   <br>El equipo de <strong>Píldoras de Conocimiento</strong> ha trabajado durante todo el <strong>2025</strong> para ofrecerte información fresca y relevante que impulse tu carrera y facilite tu día a día.
                                   
                                   <p>Hemos compilado todas las píldoras de este año, llenas de datos y técnicas que puedes aplicar desde hoy. 👉 Descubre todo el conocimiento aquí:
									<br>
									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
												<table>
													<tbody>
														<tr>
															<p></p>
									<td bgcolor="#99CCB3;" style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #FFF61E;  " width="180" class=""><a href="https://docs.google.com/presentation/d/1IJExCDuoTdOGSUvaFcHX6RKPqT0GOf50_bPJoRr8Kuk/edit?usp=sharing" style="text-align:center;font-family: Heebo;font-size:15px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" target="_blank"><span style="color: #1C0D30;line-height: 30px; text-align: center">REVISAR PÍLDORAS</span> </a></td>
						
														</tr>							
								
												<table>
													<tbody>
														<tr>
															<p></p>
															
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
                                    ¡Esperamos que lo aproveches al máximo!
									</td>
								</tr>
							</tbody>
						</table>


						</td>
					</tr>
                    
				</tbody>
			</table>
            <br>
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:Heebo, Helvetica, sans-serif" width="600">
				<tbody>
					<tr>
						<br>

						<p style="font-family:'Heebo', sans-serif;color: #818181;font-size: 11px; text-align:center">(c) 2025 Globant. All rights reserved<br>
						This is a corporate communication from Globant. </a><br>
						If you are not sure about receiving our emails, <a href="https://more.globant.com/unsubscribe/u/497451/81154f1217a54a3046c781171b699e87d4d9c7fb534ee7f5ce4abc59c8619caa/1653674345" style="color:#818181;text-decoration: underline;" target="_blank">unsubscribe here</a> from all our internal communications.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</html>