<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="image" href="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/headers/header_GlobantU_estrategiaDePruebas.png">
    <title>Workshop - Test Strategy</title>
    <style>
        a.click{
            border-radius: 30px;
            border-style: solid;
            background-color: #ffffff17;
            color: #fff;
            padding: 5px 15px;
            margin: 10px 10px;
            text-decoration: none;
            width: 160px;
        }
    </style>
</head>

<body>
    <div id=":1fn" class="a3s aiL ">
        <div dir="ltr">
            <table align="center" width="100%"
                style="color:rgb(0,0,0);font-size:14px;font-family:Heebo,Helvetica,sans-serif;background: radial-gradient(circle, rgba(130,225,246,1) 0%, rgb(61, 59, 115) 80%);padding:0px;margin:0px">
                <tbody>
                    <tr>
                        <td>&nbsp;<table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
                                <tbody>
                                    <tr>
                                        <td style="padding:30px;font-family:Heebo,Helvetica,sans-serif;font-size:14px;text-align:center;;background-repeat:no-repeat;background-size:cover;border-radius: 20px; overflow: hidden">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                width="100%" style="font-family:Heebo,Helvetica,sans-serif">
                                                <tbody>
                                                    <tr>
                                                        <td><img alt="Tech Talks"
                                                                src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/headers/header_GlobantU_estrategiaDePruebas.png"
                                                                width="650"
                                                                style="display:block;border-radius:20px 20px 20px 20px"
                                                                class="CToWUd a6T" data-bit="iit" tabindex="0">
                                                            <div class="a6S" dir="ltr"
                                                                style="opacity: 0.01; left: 716.042px; top: 419.111px;">
                                                                <span data-is-tooltip-wrapper="true" class="a5q"
                                                                    jsaction="JIbuQc:.CLIENT">
                                                                  
                                                                        <div class="VYBDae-JX-ano"></div>
                                                                   
                                                                    <div class="ne2Ple-oshW8e-J9" id="tt-c330"
                                                                        role="tooltip" aria-hidden="true">&nbsp;</div>
                                                                </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                width="100%" style="font-family:Heebo,Helvetica,sans-serif;border-radius: 10px; overflow: hidden">
                                                <tbody
                                                    style="background-color:rgb(0, 0, 0, 0.6);">
                                                   
                                                    <div style="font-size: 1rem; background-color:rgb(0, 0, 0, 0.6);border-radius:20px 20px 20px 20px;color: #ffffff;font-family: 'Heebo', sans-serif;font-size: 15px;line-height: 28px;overflow: hidden;margin-bottom: 20px;">
                                                        <div style="padding:3rem;">
                                                          <p style="font-size: 1.2rem; padding-bottom: .2rem; text-align: center;">Hola Glober! <img src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/others/wave-hand.png" style="height: 20px;"> </p>
                                                  
                                                          <div style="text-align: justify; padding-bottom: 15px;">
                                                            ¿Te interesa sumar habilidades para crear una de estrategía de pruebas?
                                                          </div>
                                                          <div style="text-align: justify; padding-bottom: 15px;">
                                                            ¡Este mensaje es para ti! Ahora en el Campus de Globant University cuentas con el training Estrategias de Pruebas de Software, el cual te brindará 
                                                            conceptos adicionales para incrementar tus habilidades.
                                                          </div>
                                                          <div style="text-align: justify; padding-bottom: 15px;">
                                                            A través de 5 módulos, podrás aprender o reforzar estrategias de pruebas y lo mejor poner en práctica lo aprendido con una actividad en el último módulo.
                                                          </div>
                                                  
                                                          <div style="text-align: left; padding: 10px 5px; margin-left: 20px;">
                                                            <p style="margin: 0px;"><strong> ⏰ Duración: </strong> Online self-placed</p>  
                                                            <p style="text-align: center;">¡Anímate haciendo <a class="click" href="https://university.globant.com/group/8966" target="_blank">Click aquí &#9997;</a>!</p>
                                                          </div>
                                                        </div>
                                                        
                                                      </div>


                                                      <table width="650" cellspacing="0" cellpadding="0" align="center"
                                                      style="height:10px;background-color:transparent;border-bottom-right-radius:1.1rem;border-bottom-left-radius:1.1rem;color:rgb(255,255,250)">
                                                      <tbody>
                                                          <tr>
                                                              <td align="center" style="font-size:11px;text-align:center;">
                                                                  <p>© 2024 Globant. All rights reserved</p>
                                                                  <p>This is a corporate communication from Globant.<br>If you are not sure
                                                                      about receiving our emails,&nbsp;<a
                                                                          href="https://communications.globant.com/Comm/Studios/QualityEngineering/%7B%7BUnsubscribe%7D%7D"
                                                                          rel="noopener" style="color:rgb(255,255,250)" target="_blank"
                                                                          data-saferedirecturl="https://www.google.com/url?q=https://communications.globant.com/Comm/Studios/QualityEngineering/%257B%257BUnsubscribe%257D%257D&amp;source=gmail&amp;ust=1712174641558000&amp;usg=AOvVaw11aUeWn5tPqVQIpW3vJJIu">unsubscribe</a>&nbsp;here
                                                                      from all our internal communications.</p>
                                                              </td>
                                                          </tr>
                                                      </tbody>
                                                  </table>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
            <div><br></div><span class="gmail_signature_prefix"> </span><br>
            <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
                <div dir="ltr">
                    <div>
                        <div>
                            <font size="1"><span style="font-family:Arial,sans-serif"><br></span></font>
                        </div>
                        
                        <div style="color:rgb(34,34,34)"></div>
                    </div>
                    <div style="color:rgb(34,34,34)"></div>
                </div>
            </div>
        </div>

        <br>

        <div class="yj6qo"></div>
        <div style="font-size:1.3em" class="adL"><span style="font-size:10pt;font-family:Arial,sans-serif"><br></span>
        </div>
    </div>

</body>

</html>