<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

    #fondo{
      background-color: #8180b7;
      font-family: 'Heebo', sans-serif;
      min-width: 650px;
      margin: 0px 0px;
    }

    .speaker-img {
      border-color: transparent !important;
      display: inline-block;
      min-height: 100px;
    }

    .speaker-img img {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div id="fondo">
    <table style="color: #FFFFFA; font-size: medium; padding-top: 1.8rem;" width="650" cellspacing="0" cellpadding="0"
      align="center">

      <tbody>
        <td>
          <img src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/headers/header_effectivePresentations_workshop.png" alt="Workshop - Api testing con Karate DSL" width="650"
            style="display: block; border-radius: 1.1rem; margin-bottom: 30px;">
        </td>
      </tbody>

      <td
        style="background-color:#f2f1f1; padding: 2.5rem 3rem; text-align:center; font-size:15px; color:#1F2537; border-radius: 30px 30px;">
    <!--
        <span style="text-align: center; line-height:12px; font-size: 14px;margin-right: 30px;">&#128197; Jueves 23 de Marzo</span>
        <span style="text-align: center; line-height:12px; font-size: 14px;margin-left: 30px;">&#128338; 03:00 PM (COT)</span>
    -->
        <p style="font-size: 17px; font-weight: bold; text-transform: uppercase; padding-bottom: .5rem;font-family: 'Heebo', sans-serif">Effective Presentations</p>

        <p style="text-align: center; line-height:30px;font-family: 'Heebo', sans-serif">
          Las presentaciones efectivas son una habilidad fundamental en cualquier campo profesional, y en el ámbito de las pruebas de software, la capacidad de comunicar claramente los hallazgos, los resultados de las pruebas y las estrategias es crucial para el éxito del proyecto y el equipo. Por esta razón, hemos organizado este entrenamiento centrado en proporcionar las herramientas, técnicas y tips prácticos para mejorar tus habilidades de presentación.
        </p>
        <p style="text-align: center; font-style: italic; line-height:25px;">
          <strong>¡Te esperamos!</strong>
        </p>
        <br>
        <div style="text-align: center; display: inline-block;">
          <div class="speaker-img">
            <img alt="speaker name"
              src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/speaker_photos/BA_Maria_Margarita_Salcedo_Consuegra.jpeg">
          </div>
          <p style="text-align: center; line-height:25px; font-weight: bold; font-size: 14px; width: 80%; margin: auto;">Maria Margarita Salcedo Consuegra</p>
        </div>
        
        <div style="text-align: center; display: inline-block;">
          <div class="speaker-img">
            <img alt="speaker name"
              src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/main/public-images/speaker_photos/BA_Cristhian_Gerardo_Osorio_Jimenez.jpeg">
          </div>
          <p style="text-align: center; line-height:25px; font-weight: bold; font-size: 14px; width: 80%; margin: auto;">Cristhian Gerardo Osorio Jimenez</p>
        </div>
        
        <br><br>
        <p style="text-align: center; line-height:12px; font-size: 14px;"><b>Nivel:  </b> Intermedio</p>
        <p style="text-align: center; line-height:12px; font-size: 14px;">&#128197; <b>Fecha:</b> Jueves, 25 de Abril 2024</p>
        <p style="text-align: center; line-height:12px; font-size: 14px;">&#128197; <b>Hora:</b>  3:00 pm</p>
        <p style="text-align: center; line-height:12px; font-size: 14px;">&#128339; <b>Duración:  </b> 1h 30min</p>
        <p style="text-align: center; line-height:12px; font-size: 14px;">&#128221; <b>Capacidad:  </b><i>Limitada </i></p>

        <table align="center" style="padding-top: 25px;">
          <tbody>
            <tr>
              <td align="center" width="180" height="35" bgcolor="#000000"
                style="border-radius: 40px; font-family: Heebo, sans-serif; color: #FFFFFF;background-color: #086578; ">

                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGlHkQPsxnEnOWHf83NAtZFBexlX4Jg-9iR4WVdnfr4-V7MQ/viewform"
                  target="_blank"
                  style="font-family: Heebo, sans-serif; font-size:16px; font-weight: bold; text-decoration: none; width:100%; display:inline-block">
                  <span style="color: #FFFFFF;">Quiero Participar &#128204;</span></a>

              </td>
            </tr>
              <table>
                <tbody>
                  <tr>
                    <td align="center"></td>
                  </tr>
                </tbody>
              </table>
            </tr>
            <tr>
              <td style="padding-bottom: 1.8rem;">
                <table width="650" cellspacing="0" cellpadding="0" align="center"
                  style="height: 190px; background-color: transparent; border-bottom-right-radius: 1.1rem; border-bottom-left-radius: 1.1rem">
                  <tbody>
                    <tr>
                      <td style="font-size: 11px; text-align: center; padding: 20px;" align="center">
                        <img style="padding-bottom: 25px;"
                          src="https://ci6.googleusercontent.com/proxy/KGln9EvJV6lg_rJMX0Ps7KuemPicTr3ch1EKg-TlBUO45OvzNxcXgyL5hcNQ002ud9Z-qZM6Idf2XSvgk5R6c0dTFk7sIqdY5WAUSmnAgUUA-yZJKWcQ=s0-d-e1-ft#https://communications.globant.com/Comm/Corporate/GameofPods/glb.png">
                        <p class="copy-right">&copy 2024 Globant. All rights reserved</p>
                        <p class="copy-right">This is a corporate communication from Globant. <br> If you are not sure
                          about receiving our emails, <a
                            href="https://communications.globant.com/Comm/Studios/QualityEngineering/%7B%7BUnsubscribe%7D%7D"
                            target="_blank" style="color: #FFFFFF;" rel="noopener">unsubscribe</a> here from all our
                          internal communications.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
<br>

</body>
</html>