<!DOCTYPE html>
<html lang="es">

<head>
  <title>Píldoras de Conocimiento</title>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" type="image/png" href="https://communications.globant.com/Comm/favicon/images/favicon.png">

  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
    #logos {
      background-color: #2D3436;
      position: absolute;
      width: 650px;
    }

    img.imgs {
      display: inline-grid;
      max-height: 25px;
      padding: 5px 40px;
      margin: auto;
    }
    .img-pill{
      display: flex;
      margin: auto;
      padding: 15px 10px;
      max-width: 500px;
    }
    .contenedor-imagenes {
        display: inline-block    !important;       /* Fuerza la alineación en paralelo */
        gap: 15px;                      /* Espacio entre las imágenes */
        width: 100%;                    /* Ocupa el ancho disponible */
        text-align: center;
    }

    .contenedor-imagenes img {
        flex: 1 !important;             /* Obliga a ambas a medir exactamente lo mismo de ancho */
        max-width: 48% !important;
        max-height: 300px !important;
    }
  </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f7; font-family: 'Segoe UI', Helvetica, Arial, sans-serif;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #9bd4e3; padding: 20px;">
    <tr>
      <td align="center">
        <!-- Contenedor Principal -->
        <table width="650" border="0" cellspacing="0" cellpadding="0"
          style="background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
          <!-- Encabezado Estilo Moderno -->
          <tr>
            <td align="center" style="background-color: #ffffff;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="position: relative; text-align: center; background-color: #2D3436;">
                    <!-- Imagen de cabecera -->
                    <img src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/2026/Wilmer/header_pildiras_v1.png" alt="Píldoras de Conocimiento"
                      width="650" style="display: block; width: 100%; max-width: 650px; height: auto; border: 0;">
                      <p style="color: #dfe6e9;font-family: 'Heebo';font-size: 1.3em; font-weight: 700; margin: 10px 0 0 0">Tu dosis tech de hoy</p>
                  </td>
                </tr>
                <!-- Barra de acento inferior que combina con los colores de la imagen -->
                <tr>
                  <td height="5" style="background: linear-gradient(to right, #D63384, #0DCAF0, #6610F2, #FD7E14);">
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- Header -->
          <tr>
            <td style="background-color: #2D3436; text-align: center;">
              <div id="logos">
              <img
                src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/studio/Quality_Engineering_full_white.png"
                alt="QE Studio" class="imgs">

              <img
                src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/studio/NOLAWhite.png"
                alt="QE Logo" class="imgs">

              <img src="https://statics.globant.com/production/public/2020-04/globant-light-bg-color%402x%20%282%29.png"
                class="imgs">
            </div>
            </td>
          </tr>

          <!-- Contenido: Píldora 1 -->
          <tr>
            <td style="padding: 70px 30px 20px 30px;">
              <h2 style=" text-align: center; margin: 0 0 15px 0; font-size: 22px;">¿Qué es Globant Enterprise AI (GEAI)?</h2>
              <p style=" text-align: justify; line-height: 1.6; font-size: 14px; margin-bottom: 20px;">
                Globant Enterprise AI (GEAI) ahora <B>Glob.AI OS</B>, es una plataforma avanzada que integra inteligencia artificial y aprendizaje automático para optimizar 
                procesos empresariales, mejorar la toma de decisiones y potenciar la eficiencia en diferentes áreas, incluyendo calidad. Permite automatizar tareas, 
                analizar grandes volúmenes de datos y generar insights que ayudan a anticipar problemas y mejorar la calidad de productos y servicios.
              </p>
              <img src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/assets/images/2026/Gloria/GEAI.png" class="img-pill">
              <a href="https://os.corp.globant.com/es/agentic-hub/explore"
                style="background-color: #9000ce; color: #ffffff; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;" target="_blank">Glob.AI OS Station</a>
            </td>
          </tr>

          <!-- Separador -->
          <tr>
            <td style="padding: 0 30px;">
              <hr style="border: 0; border-top: 1px solid #eee;">
            </td>
          </tr>

          <!-- Contenido: Píldora 2 -->
          <tr>
            <td style="padding: 40px 30px;">
              <h2 style="margin: 0 0 15px 0; font-size: 16px;">Beneficios de Glob.AI OS para Equipos de Calidad:</h2>
              <p style=" line-height: 1.6; font-size: 12px; margin-bottom: 20px;">
                <ul style="text-align: justify; line-height: 1.6;"> 
                  <li>Automatización de pruebas y validaciones: Reduce el tiempo y esfuerzo manual en la ejecución de pruebas gracias a algoritmos inteligentes que identifican patrones y errores comúnmente detectados.</li>
                  <li>Análisis predictivo: Anticipa fallos o defectos en productos basándose en datos históricos y tendencias detectadas por la IA.</li>
                  <li>Optimización de procesos: Identifica cuellos de botella y sugiere mejoras en procesos de calidad para aumentar la eficiencia y calidad final.</li>
                  <li>Monitoreo en tiempo real: Permite un seguimiento continuo y automático de indicadores clave de calidad (KPIs), facilitando la detección temprana de desviaciones.</li>
                  <li>Toma de decisiones basada en datos: Transforma datos complejos en visualizaciones y reportes claros para apoyar la toma de decisiones estratégicas.</li>
                </ul>
              </p>
              <div class="contenedor-imagenes">
                  <img src="https://github.com/wilmer-poveda/QE-communications/blob/main/assets/images/2026/Gloria/Agents%20QA.png?raw=true" alt="Test Case Writer">
                  <img src="https://github.com/wilmer-poveda/QE-communications/blob/main/assets/images/2026/Gloria/QE%202.png?raw=true" alt="Test Execution Detective">
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding: 10px 30px;">
              <h2 style="margin: 0 0 15px 0; font-size: 16px;">¿Cómo funciona Glob.AI OS?</h2>
              <p style=" line-height: 1.6; font-size: 12px; margin-bottom: 20px;">
                <ul style="text-align: justify; line-height: 1.6;"> 
                  <li>Integración con sistemas existentes: Glob.AI OS se conecta con las herramientas y bases de datos que ya utiliza el equipo de calidad.</li>
                  <li>Recolección y procesamiento de datos: Capta datos relevantes (logs, resultados de pruebas, reportes) y los procesa usando modelos de IA y Machine Learning.</li>
                  <li>Análisis inteligente: Utiliza algoritmos para detectar patrones, anomalías y predecir posibles incidencias.</li>
                  <li>Interfaz amigable y dashboards: Ofrece visualizaciones claras para interpretar resultados y facilitar la colaboración.</li>
                  <li>Aprendizaje continuo: La plataforma mejora con el tiempo al aprender de nuevos datos y experiencias previas.</li>
                </ul>
              </p>
            </td>
          </tr>
          <tr>
            <td style="padding:20px 30px;">
              <h2 style=" text-align: center; margin: 0 0 15px 0; font-size: 16px;">Conclusión</h2>
              <p style=" text-align: justify; line-height: 1.6; font-size: 14px; margin-bottom: 20px;">
                Integrar Globant Enterprise AI ahora <b>Glob.AI OS</b>, en el equipo de calidad es un paso estratégico que aporta eficiencia, precisión y capacidad predictiva. Al entender cómo funciona y aprovechar 
                sus beneficios, pueden elevar los estándares de calidad, reducir errores y responder más ágilmente a los desafíos del mercado.
              </p>
            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td>
                <table width="650" cellspacing="0" cellpadding="0" align="center"
                  style="height: 190px; background-color: #fffffa; border-bottom-right-radius: 1.1rem; border-bottom-left-radius: 1.1rem">
                  <tbody>
                    <tr>
                      <td style="font-size: 11px; text-align: center; padding: 20px; color: #53555a;" align="center">
                        <img style="padding-bottom: 5px; height: 35px; margin-left: 25px"
                          src="https://raw.githubusercontent.com/wilmer-poveda/QE-communications/refs/heads/main/public-images/headers/moni_bernal/logo_gb_00.png">
                        <!--https://ci6.googleusercontent.com/proxy/KGln9EvJV6lg_rJMX0Ps7KuemPicTr3ch1EKg-TlBUO45OvzNxcXgyL5hcNQ002ud9Z-qZM6Idf2XSvgk5R6c0dTFk7sIqdY5WAUSmnAgUUA-yZJKWcQ=s0-d-e1-ft#https://communications.globant.com/Comm/Corporate/GameofPods/glb.png-->
                        <p class="copy-right">&copy 2026 Globant. All rights reserved</p>
                        <p class="copy-right">This is a corporate communication from Globant. <br> If you are not sure
                          about receiving our emails, <a
                            href="https://communications.globant.com/Comm/Studios/QualityEngineering/%7B%7BUnsubscribe%7D%7D"
                            target="_blank" style="color: #53555a;" rel="noopener">unsubscribe</a> here from all our
                          internal communications.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>