<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>IA PARA CAREER PATH</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
	</style>
	<link rel="shortcut icon" type="image/png"
		href="https://communications.globant.com/Comm/open-positions/images/favicon.png">
</head>

<body style="background-color:#E7E6E3; padding: 0; padding-bottom: 20px; margin: 0" bgcolor="#E7E6E3">
	<div style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
		templates</div>

	<table align="center" bgcolor="#E7E6E3" border="0" cellpadding="0" cellspacing="0"
		style="font-family: Heebo, Helvetica, sans-serif; background-color:#E7E6E3; padding: 0; margin: 0" width="100%">
		<tbody>
			<tr>
				<td>
					&nbsp;
					<table align="center" border="0" cellpadding="0" cellspacing="0"
						style="font-family:Heebo, Helvetica, sans-serif" width="650">
						<tbody>
							<tr>
								<td
									style="font-family:'Heebo',Helvetica,sans-serif; background-color:#ffffff; background-image: url(../../../assets/images/2026/Lucho/Test_modificado_DOJO_2026_Mentees_Feb_backgtound.png); color: #2D2B63; background-size: cover; background-repeat: repeat; padding: 30px; font-size: 15px; border-radius: 30px; line-height: 25px; text-align: center; font-weight: 300"
									width="600">

									<table align="center" border="0" cellpadding="0" cellspacing="0"
										style="font-family:Heebo, Helvetica, sans-serif" width="100%">
										<tbody>
											<tr>
												<td>
													<img alt="Tech-hub" src="../../../assets/images/2026/Lucho/AI_para_profesionales.png"
														style="display:block; border-radius: 20px; margin: 0 auto;" width="590">
												</td>
											</tr>
										</tbody>
									</table>

									&nbsp;

									<table align="center" border="0" cellpadding="0" cellspacing="0"
										style="font-family:Heebo, Helvetica, sans-serif" width="100%">
										<tbody>
											<tr>
												<td
													style="padding: 35px; background-color: rgba(28, 50, 114, 1); border-radius: 20px; text-align: justify; line-height: 25px; font-weight: 300; font-size: 15px; color: #ffffff;">
													<h1 style="text-align: center; color: #ffffff; font-size: 24px;">
														&#128640;&#65039; &#161;Impulsa tu carrera<br> y llega al siguiente nivel en QA!
													</h1>

													<p style="text-align: justify; font-size: 16px; margin-bottom: 20px;">
														&#191;Sientes que tienes todo el potencial para crecer y quieres empezar a dar mucho
														m&#225;s valor en tus proyectos? En el din&#225;mico mundo de la tecnolog&#237;a, y
														especialmente en QA, trazar tu propio <strong>career path</strong> es la mejor forma de
														asegurar un futuro brillante. Definir tu ruta es como encender los motores hacia el
														&#233;xito; te permite visualizar con claridad d&#243;nde quieres estar, ya sea liderando
														estrategias de automatizaci&#243;n o especializ&#225;ndote en las &#250;ltimas tendencias de
														calidad de software. &#128187;&#65039;
													</p>

													<p style="text-align: justify; font-size: 16px; margin-bottom: 25px;">
														&#161;Lo mejor es que tienes un aliado tecnol&#243;gico incre&#237;ble para lograrlo! Con la
														herramienta <a href="https://roadmap.sh/"
															style="color: #019CFF; text-decoration: none; font-weight: bold;">roadmap.sh</a>, que
														utiliza IA para dise&#241;ar rutas de aprendizaje personalizadas, tienes el camino servido
														para triunfar. &#10024;&#65039; Es la oportunidad perfecta para pulir esas habilidades que
														te apasionan y convertirte en el profesional de otro planeta que siempre has querido ser.
														&#161;An&#237;mate a explorar nuevas fronteras y aprovecha al m&#225;ximo estas herramientas
														para que tu talento brille como nunca! &#128200;&#65039;
													</p>

													<div style="text-align: center; font-weight: bold; font-size: 18px; margin-top: 10px;">
														<p style="margin: 5px 0;">&#127775;&#65039; &#161;T&#250; tienes el talento, nosotros te
															mostramos el camino!</p>
														<p style="margin: 5px 0;">&#128170;&#65039; &#161;Es tu momento de brillar como un QA
															experto!</p>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

									<table align="center" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center">
													<table>
														<tbody>
															<tr>
																<p></p>
																<td
																	style="-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;font-family:Heebo, Helvetica, sans-serif;display: block; background-color: #019CFF;  "
																	width="180" class=""><a href="https://roadmap.sh/"
																		style="text-align:center;font-family: Heebo;font-size:15px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"
																		target="_blank"><span
																			style="color: #FFFFFF;line-height: 30px; text-align: center">Conoce la
																			herramienta</span>
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>



					<table align="center" border="0" cellpadding="0" cellspacing="0"
						style="font-family:Heebo, Helvetica, sans-serif" width="600">
						<tbody>
							<tr>
								<td style="padding: 20px 0; text-align: center;">
									<p
										style="font-family:'Heebo', sans-serif; color: #1C3372; font-size: 11px; font-weight: bold; margin: 0;">
										(c) 2026 Globant. All rights reserved<br>
										This is a corporate communication from Globant.<br>
										If you are not sure about receiving our emails,
										<a href="https://more.globant.com/unsubscribe/..."
											style="color:#1C3372; text-decoration: underline;" target="_blank">unsubscribe here</a>
										from all our internal communications.
									</p>
								</td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>